<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Информация о пользователе</h2>
<form th:action="@{/saveUser}" th:object="${user}" method="post">
    <div>
        <label for="username">Имя пользователя:</label>
        <input type="text" id="username" th:field="*{username}" required />
    </div>
    <br>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <br>
    <div>
        <button type="submit">Зарегистрироваться</button>
    </div>
</form>
</body>
</html>
