<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
</head>
<body>
<h2>Task info</h2>
<form th:action="@{/safeTask}" th:object="${task}" method="post">
    <!-- Другие поля для задачи -->

    <!-- Скрытое поле для передачи имени пользователя -->
    <input type="hidden" th:name="username" th:value="${username}" />
    <input type="hidden" th:name="id" th:value="${task.id}" />

    Title <input type="text" th:field="*{title}"/>
    <br>
    <br>
    Description <input type="text" th:field="*{description}"/>
    <br>
    <br>
    Task status <input type="text" th:field="*{taskStatus}"/>
    <br>
    <br>
    Creation date <input type="text" th:field="*{creationDate}"/>
    <br>
    <br>
    Due <input type="text" th:field="*{due}"/>
    <br>
    <br>

    <input type="submit" value="Save Task"/>
</form>
</body>
</html>
